.arrow__container {
  justify-self: end;
  align-self: end;
}
.arrow {
  cursor: pointer;
  transition: background-color 0.3s;
}

@media (max-width: 1220px) {
  .arrow__container {
    justify-self: start;
  }
}
