.container {
  width: 960px;
  margin: 0px auto;
}

.heading {
  color: rgb(33, 32, 31);
  font-size: 48px;
  line-height: 44px;
  font-weight: 800;
}

.backet_container {
  width: 960px;
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.img {
  margin-top: 100px;
  align-self: center;
  justify-self: center;
}
.head_desc {
  font-size: 29px;
  font-weight: 800;
}
.desc {
  font-size: 16px;
  justify-self: center;
}
.button {
  margin-top: 50px;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  padding: 15px 20px;
  background-color: #000;
  color: #fff;
}

.button:hover {
  background-color: #72aec8;
}
